<h2> Bingo </h2>

<form method="post" action="/">
Ingrese número: <input type="text" name="nroUsuario">
<input type="submit" value="Adivinar">

<h3> <%= 
if @@primeraVez == false
	"Numero: "+@@nroUsuario.to_s
end
%></h3>

<h3><%= @@mensajeResultado %></h3>

</form>
