<h2> Bingo </h2>

<form method="post" action="/">
Ingrese número: <input type="text" name="nroUsuario">
<input type="submit" value="enviar">

<h3>Numero: <%= @@nroUsuario %></h3>

<h3><%= @@mensajeResultado %></h3>

</form>
